[core]
    excludesfile = ~/.gitignore_global
    editor = /usr/local/bin/nvim 
[push]
    default = simple
[http]
[credential]
    helper = osxkeychain
[merge]
    tool = vimdiff
[pager]
    diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX
